html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.links {
    text-align: right;
    color: red;
}

.question {
    text-align: right;
    color: green;
}

h1 {
    display: inline;
}