html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 10px;
}

.right-links {
    float: right;
    color: red;
}

.question {
    text-align: right;
    color: green;
}

h1 {
    display: inline;
}

.emphasized {
    font-style: italic;
    padding-left: 20px;
}

h1, h2, h3, h4 {
    line-height: 0.75em;
}